@font-face {
   font-family:'Circe-bold';
   src: url(font/circe_600.woff2);
}
@font-face {
   font-family:'Circe' ;
   src: url(font/circe_300.woff2);
}

.product-img-block {
   display: inline-block;
   /*border: 1ch solid red;*/
   width: 45%;
   height: 70%;
   margin-left: 5%;
}  

.product-info-block {
   display: inline-block;
   /*border: 1ch solid greenyellow;*/
   width: 45%;
   height: 70%;
   margin-right: 5%;
   margin-top: 40px;
   position: fixed;
   font-family:'Circe';
   
   
   

}

.product-img-mini1, .product-img-mini2, .product-img-mini3{
   width: 66%;
   height: 66%;
   display: table-column;
   margin-bottom: 5%;
   list-style-type: none;
}

.product-section-mini
{
   /*border: 10px solid blue;*/
   float: left;
   width:25%;
   margin-left: 5%;
   
}

.product-img-preview{
   display: inline-block;
   margin-top: 2%;   
   width:50%;
   height: 50%;
   

   
   
   /*visibility:hidden*/
   }
   

      .product-img-mini1:hover,.product-img-mini2:hover,.product-img-mini3:hover{
         transform: scale(2);
         margin-top: 25%;
      }

      .product-img-mini1:hover +.product-img-preview{
         transform: scale(2);
         
      }
/*
.product-img-preview:hover{
   visibility:hidden;
} */

/*если сделать .product-img-preview visibility:hidden, то он не появляеться пр наведении мыша на .product-img-min1 */

/*
.product-img-mini1:hover + .product-img-preview{
   visibility:visible;
   
   }
   */
  
/*
.product-img-mini1:hover + .product-img-preview{
   background:url(product-img/product-img_v1.png);
}

.product-img-mini2:hover + .product-img-preview{
   background:url(product-img/product-img_v3.png);
}

.product-img-mini3:hover + .product-img-preview{
   background:url(product-img/product-img_v2.png);
}
*/



.product-name{
   font-size: 30px;
   margin-top: 5%;
   letter-spacing: 1px;
   line-height: 24px;
   color: #131313;
   font-weight: 800;
   font-family:'Circe-bold';
}

.product-link{
   margin-top: -20px;
   margin-bottom: 12%;
   
}
.product-link-href {
   text-decoration: none;
   color: #006be5;
   margin-top: -5%;
   font-size: 15px;
   font-weight: 300;
   margin-right: 20px;
   }

.product-price{
   font-size: 21px;
   letter-spacing: 1px;
     
}
.product-price-old{   
   
   text-decoration: line-through;
   color: #bfbebe;

}
.product-price-new{
   color: gray;
   margin-right: 35px;
   font-weight: bold;
}

.product-price-coupon {
   
   color: #131313;
   font-weight: bold;
}

.product-stock{
   background-color: #f4f4f4;
   color: #131313;
   width: 400px;
   margin-bottom: 50px;
   
}

.product-buy-button, .product-follow-button {
width: 33%;
height:50px;
font-weight: bold;
margin-bottom: 50px;
font-family:'Circe-bold';
}

.product-buy-button{
   background-color: #006be5;
   color: white;
   border: 0px;
   margin-right: 20px;
   }
.product-follow-button{
   background-color: #ffffff;
   border: 2px solid #d9d9d9;
   color: #131313;
   
   }
.product-info{
   font-size: 15px;
   color: #131313;
   margin-bottom: 40px;
   font-weight: 300;

}

.product-repost{
   color: #4b4b4b;
   margin-right: 50px;
   
}

.product-repost span{
   color: #4b4b4b;
   margin-right: 50px;
   
}
.product-repost button{
   border-radius: 50%;
   margin-right: 12px;
   width: 45px;
   height: 45px;
   border: 2px solid #d9d9d9;
   background-color: white;


}

.product-repost-quantity{
   background-image: url(icon/quantity.svg) ;
   display: inline-block;
}
.icon {
   width: 20px;
   height: 20px;
   margin-left: 15px;
   margin-right: 10px;
}
.product-repost-icon{
   width: 20px;
   height: 25px;
   fill:#cdcdcd ;
   margin-top: 5px;

}


